@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --color-yellow: 217, 228, 90; /* #D9E45A */
  --color-white: 255, 255, 255; /* #FFFFFF */
  --color-light-cream: 254, 248, 224; /* #FEF8E0 */
  --color-cream: 255, 253, 243; /* #FFFDF3 */
  --color-dark-green: 25, 82, 47; /* #19522F */
  --color-green-1: 48, 99, 68; /* #306344 */
  --color-green-2: 117, 151, 130; /* #759782 */
  --color-green-3: 209, 220, 213; /* #D1DCD5 */
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-marquee {
    display: inline-block;
    min-width: 200%;
    animation: marquee 60s linear infinite;
  }
}

@layer utilities {
  @keyframes fade {
    0% {
      opacity: 0;
      transform: "translateY(20px)";
    }
    100% {
      opacity: 1;
      transform: "translateY(0)";
    }
  }

  .animate-fade {
    animation: fade 1s ease-in-out;
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 4s infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

body {
  background-color: #fef8e0;
  color: white;
}

.btn {
  background-color: #d9e45a;
  font-size: large;
  color: #19522f;
  font-family: serif;
  padding: 0.75rem 3rem;
  border-radius: 50% / 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  color: #d9e45a;
  background-color: #19522f;
}
