@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
  .animate-marquee {
    display: inline-block;
    min-width: 200%;
    animation: marquee 60s linear infinite;
  }
}

@layer utilities {
  @keyframes fade {
    0% {
      opacity: 0;
      transform: 'translateY(20px)'
    }
    100% {
      opacity: 1;
      transform: 'translateY(0)' 
    }
  }

  .animate-fade {
    animation: fade 1s ease-in-out;
  }
}

@keyframes gradient-x {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
}