@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


@layer utilities {
  @keyframes fade {
    0% {
      opacity: 0;
      transform: 'translateY(20px)'
    }
    100% {
      opacity: 1;
      transform: 'translateY(0)' 
    }
  }

  .animate-fade {
    animation: fade 1s ease-in-out;
  }
}
